.jumbotro{
    background-image: url(../assets/backgrounds/h_img.jpg);
    height: 60vh;
    background-size: cover;
}
.services{
    background-image: url(../assets/backgrounds/s_image.jpg);
    height: 50vh;
    background-size:cover;
    padding-top: 50%;
}
.contain{
    display: none;
}
.design{
    display: none;
}
.develop{
    display: none;
}
.manage{
    display: none;
}
.contact{
    background-image: url(../assets//backgrounds/c_image.jpg);
    height: 50vh;
    background-size: cover;
}
.designing{
    border: 2px rgb(22, 21, 21);
    transition: 1s;
}
.designing:hover{
    box-shadow: 0 0 2px rgba(63, 1, 1, 0.2);
}
form input{
    background: transparent !important;
}
form textarea{
    height: 40px;
    background: transparent !important;
}
#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    border: solid black;
    transform: translate(-50%,-50%);
   
  }
#overlay{
    display: none;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}